compile.sh
push.sh
commit.sh
Makefile_cp
Makefile_original
configure

/*
!/*/
!*.*
!Makefile

junk/*
clion/*
cmake-build-debug/*
.idea/*
include/libc.h
world/musl/*
compile_and_run.sh
tools/*
!tools/*.c

CMakeLists.txt

kernel.c

release.sh

build/
