compile.sh
push.sh

junk/*
clion/*
cmake-build-debug/*
.idea/*
include/libc.h
kernel/gdt.c
kernel/idt.c
include/kernel/gdt.h
include/kernel/idt.h

CMakeLists.txt

kernel.c

build/*
!build/mazukios.iso
!build/kernel.elf
